<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">
<link rel="import" href="../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="my-bc-sofia-micomponente">
    <template>
    <style include="shared-styles">
      :host {
          display:inline-block;
          background: #FF66CC;
        }
    </style>

  <div>  <span>Mi primer componente con Polymer. Super!!!</span></div>
    <div>  <span>[[saludo]]</span></div>
    <div>    <span>[[contador]]</span></div>

          <template is="dom-repeat" items="[[listado]]">
            <div>
                <h3>{{item.titulo}}</h3>
                  <h3>{{item.texto}}</h3>
            </div>
          </template>
          <!-- Metemos parte para interactuar con MongoDB -->


  </template>
    <script>
        Polymer({
            is: 'my-bc-sofia-micomponente',
            properties: {
                saludo: String,
                contador: Number,
                listado: Array
            },
            listeners: {
                'tap': 'incrementar'
            },
            incrementar: function() {
                this.contador = this.contador + 1;
                this.listado.push(this.contador);
            }

        });

    </script>
</dom-module>
